@(body: Html)

<!DOCTYPE html>
<html>
  <head>
      <title>Play 2 Modules</title>
      <meta name="viewport" content="width=device-width">
      <link rel="stylesheet" href="/assets/stylesheets/main.css" type="text/css" media="screen" title="no title" charset="utf-8">
      <link href='http://fonts.googleapis.com/css?family=PT+Serif:700italic' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header id="top">
      <a href="/" id="logo">Play</a>
    </header>
    <section id="content">
      <header>
          <input type="text" id="module-search" placeholder="Type anything to filter" results="10">
      </header>
      <article id="list">
        @body
      </article>
    </section>
    <footer>
      Written by Julien Richard-Foy. Fork it on <a href="http://github.com/julienrf/play-modules">GitHub</a>.
    </footer>
  </body>
</html>