@(modules: List[String])

@layout {
    @for(m <- modules) {
        <div class=module>@Html(m)</div>
    }
    <script>
        (function () {
            var Stream = function (pusher) {
                this.pusher = pusher;
            };
            Stream.prototype.foreach = function (f) {
                this.pusher(f);
            };
            Stream.prototype.map = function (f) {
                var self = this;
                return new Stream(function (g) { self.pusher(function (e) { g(f(e)); }); });
            };
            Stream.prototype.merge = function (s) {
                var self = this;
                return new Stream(function (f) {
                    s.pusher(function (e) { f(e) });
                    self.pusher(function (e) { f(e) });
                });
            };
            Stream.ofEvents = function (event, target) {
                return new Stream(function (f) {
                    (target || window).addEventListener(event, function (e) { f(e) });
                })
            };

            var arr = function (col) {
                var r = [];
                for (var i = 0, l = col.length ; i < l ; i++) {
                    r.push(col.item(i));
                }
                return r
            };

            // --- The program really starts here
            var modules = arr(document.getElementsByClassName('module'));
            var input = document.querySelector('input');

            Stream.ofEvents('keyup', input).merge(Stream.ofEvents('click', input))
                .map(function (_) {
                    var regexp = new RegExp(input.value, 'i');
                    return modules.map(function (m) {
                        return {
                            module: m,
                            matches: regexp.test(m.textContent)
                        }
                    })
                })
                .foreach(function (ms) {
                    ms.forEach(function (m) { m.module.style.display = m.matches ? 'block' : 'none'; });
                });
        })();
        (function() {
          var scroll = window.requestAnimationFrame || window.webkitRequestAnimationFrame || window.mozRequestAnimationFrame || window.msRequestAnimationFrame || window.oRequestAnimationFrame || function(callback){ window.setTimeout(callback, 1000/60) }
          , lastPosition = -1;
          function loop(){
            if (lastPosition == window.pageYOffset) {
                scroll(loop)
                return false
            } else lastPosition = window.pageYOffset

            if (lastPosition < 110){
              document.body.className = "";
            } else {
              document.body.className = "stick";
            }

            scroll(loop);
          }
          loop();
        }());
    </script>
}